{% extends 'index.html' %}
{% block content %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
    <title>About us</title>
</head>
<body>
    <div class="responsive-container-block outer-container">
        <div class="responsive-container-block inner-container">
          <p class="text-blk section-head-text">
            Meet Our Developing Team
          </p>
          <p class="text-blk section-subhead-text">
            <strong>FOR COMMUNITY BY COMMUNITY</strong>
          </p>
          <div class="responsive-container-block">
            <div class="responsive-cell-block wk-desk-2 wk-ipadp-2 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="{% static 'images/Aditya.jpg' %}">
                </div>
                <p class="text-blk name">
                  Aditya Shah
                  <P class="text-blk name">SE-IT</P>
                </p>
                <p class="text-blk position">
                  Developer
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                  </a>
                  <a href="http://www.instagram.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                  </a>
                  <a href="http://www.gmail.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-2 wk-ipadp-2 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="{% static 'images/Rehman.jpg' %}">
                </div>
                <p class="text-blk name">
                  Rehman Khan
                  <P class="text-blk name">SE-IT</P>
                </p>
                <p class="text-blk position">
                    Developer
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                  </a>
                  <a href="http://www.instagram.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                  </a>
                  <a href="http://www.gmail.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-2 wk-ipadp-2 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="{% static 'images/Sahil.jpg' %}">
                </div>
                <p class="text-blk name">
                  Sahil Chalke
                  <P class="text-blk name">SE-IT</P>
                </p>
                <p class="text-blk position">
                    Developer
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                  </a>
                  <a href="http://www.instagram.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                  </a>
                  <a href="http://www.gmail.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                  </a>
                </div>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-2 wk-ipadp-2 wk-tab-6 wk-mobile-12 team-card-container">
                <div class="team-card">
                  <div class="img-wrapper">
                    <img class="team-img" src="{% static 'images/Karan.jpg' %}">
                  </div>
                  <p class="text-blk name">
                    Karan Gandhi
                    <P class="text-blk name">SE-IT</P>
                  </p>
                  <p class="text-blk position">
                      Developer
                  </p>
                  <div class="social-media-links">
                    <a href="http://www.twitter.com/" target="_blank">
                      <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                    </a>
                    <a href="http://www.facebook.com/" target="_blank">
                      <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                    </a>
                    <a href="http://www.instagram.com/" target="_blank">
                      <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                    </a>
                    <a href="http://www.gmail.com/" target="_blank">
                      <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                    </a>
                  </div>
                </div>
              </div>
            <div class="responsive-cell-block wk-desk-2 wk-ipadp-2 wk-tab-6 wk-mobile-12 team-card-container">
              <div class="team-card">
                <div class="img-wrapper">
                  <img class="team-img" src="{% static 'images/Akash.jpg' %}">
                </div>
                <p class="text-blk name">
                  Akash Mourya
                  <P class="text-blk name">SE-IT</P>
                </p>
                <p class="text-blk position">
                    Developer
                </p>
                <div class="social-media-links">
                  <a href="http://www.twitter.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                  </a>
                  <a href="http://www.facebook.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                  </a>
                  <a href="http://www.instagram.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                  </a>
                  <a href="http://www.gmail.com/" target="_blank">
                    <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>

{% endblock %}