{% extends 'index.html' %}
{% load static  %}
{% block content %}
<style>
  .errBtn{
      display: none;
  }
</style>

    <link rel="stylesheet" href="{% static 'css/newAdd.css' %}" />
 
    
    <div class="container">

		<form class="form" action="{% url 'addNotes' %}" method="post" enctype="multipart/form-data" >
      {% csrf_token %}
			<label for="subject" style="text-align: left; padding: 10px;">Subject:</label>
      <select name="subjectName" class="form-select" id="subject" aria-label="Default select example">
        <option selected disabled="true"></option>
        {% for x in subj %}
            <option value="{{x.name}}">{{x.name}}</option>
        {% endfor %}
    </select>

			<label for="module" style="text-align: left; padding: 10px;">Module number:</label>
      <select name="moduleNo" class="form-select" id="module" aria-label="Default select example">
        <option selected disabled="true"></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
</select>
            <label for="type" style="text-align: left; padding: 10px;">Type:</label>
            <select name="typeN" class="form-select" aria-label="Default select example">

              <option value="Assignment">Assignment</option>
              <option value="Experiment">Experiment</option>
              <option value="Notes">Notes</option>
              <option value="LectureSlides">Lecture Slides</option>
              <option value="ReferenceBook">Reference Book</option>
              <option value="PYQ">Previous Year Question Paper</option>

      </select>

              <span class="form-title">Upload your file</span>
              
               <label for="file-input" class="drop-container">
              <span class="drop-title">Drop files here</span>
              or
              <input type="file"  required="" name="file" id="file-input">
            </label>
            <div>
           <br>
                <button>
                    <div class="svg-wrapper-1">
                      <div class="svg-wrapper">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
                        </svg>
                      </div>
                    </div>
                    <span>Send</span>
                  </button>
            </div>
            
                </form>
                  <button type="button" class="btn btn-primary errBtn" data-bs-toggle="modal" id="errorBrn" data-bs-target="#exampleModal">
                    Launch demo modal
                  </button>
                
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Size Error</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          File size should be less than 20MB! like come on Bro we are using a free webserver.. cope with us
                        </div>
                        <div class="modal-footer">
                
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Got It!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                
                
                
                
                        <script>
                            const input = document.querySelector('input[type="file"]');
                            let btn = document.getElementById('errorBrn');
                
                            input.addEventListener('change',()=>{
                                validateSize();
                            })
                
                            document.querySelector('form').addEventListener('submit',(e) => {
                
                                const res = validateSize();
                
                                if (res){
                                    e.preventDefault();
                                    btn.click();
                                    throw res;
                                }else{
                                    console.log('okay');
                                }
                
                            })
                
                            function validateSize(){
                                const file = input.files[0];
                                if(!file){
                                   const err =  new Error("No file Selected");
                                   return err;
                                }
                
                                const limit = 20000;
                                const size = file.size/1024;
                                if(size > limit){
                                    const err = new Error(`File too big: ${(size/1000).toFixed(20)} MB`);
                                    return err;
                                }else{
                                    return false;
                                }
                            }
                
                
                
                        </script>
                    </div>
                <style>
                    button {
                  font-family: inherit;
                  font-size: 20px;
                  background: royalblue;
                  color: white;
                  padding: 0.7em 1em;
                  padding-left: 0.9em;
                  display: flex;
                  align-items: center;
                  border: none;
                  border-radius: 16px;
                  overflow: hidden;
                  transition: all 0.2s;
                }
                
                button span {
                  display: block;
                  margin-left: 0.3em;
                  transition: all 0.3s ease-in-out;
                }
                
                button svg {
                  display: block;
                  transform-origin: center center;
                  transition: transform 0.3s ease-in-out;
                }
                
                button:hover .svg-wrapper {
                  animation: fly-1 0.6s ease-in-out infinite alternate;
                }
                
                button:hover svg {
                  transform: translateX(1.2em) rotate(45deg) scale(1.1);
                }
                
                button:hover span {
                  transform: translateX(5em);
                }
                
                button:active {
                  transform: scale(0.95);
                }
                
                @keyframes fly-1 {
                  from {
                    transform: translateY(0.1em);
                  }
                
                  to {
                    transform: translateY(-0.1em);
                  }
                }
                
                
                </style>
                
                
              
                
                
            
		
	</div>

{% endblock %}





