{% extends 'index.html' %} {% block content %}
 

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sr. No</th>
        <th scope="col">File Name</th>
        <th scope="col">No of Likes</th>
      </tr>
    </thead>
    <tbody>
      {% for note, num_likes in notes_with_likes %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{note.typeN}} of Module {{note.mod}} - {{note.sub}}</td>
        {% if x.status %} {% endif %}
        <button class="card-link" class="btn btn-success">
          <td>likes({{ num_likes }})</td>
        </button>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
 {% endblock %}



