{% extends 'index.html' %} {% block content %}
<div class="container mt-3">
  {% include 'authentication/messages.html' %}
  <h1>Notes uploaded</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sr. No</th>
        <th scope="col">File Name</th>
        <th scope="col">PDF</th>
      </tr>
    </thead>
    <tbody>

      {% for x in notes %}
      
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{x.typeN}} of Module {{x.mod}} - {{x.sub}}</td>
        {% if x.status %} {% endif %}
        <button class="card-link" class="btn btn-success">
          <td><a href="{{ x.file.url }}">View PDF</a></td>
        </button>
      </tr>

      {% endfor %}
    </tbody>
  </table>

  {% endblock %}
</div>
'
<!-- i have a view pdf button where in a user can view the notes uploaded but now i want to add an buy option to it and if he has buyed the pdf he can view it he can buy through the coins_scored attirube in the models' -->