{% extends 'index.html' %} {% block content %}

<a href="{% url 'notes'%}"><button class="btn btn-primary">BACK</button></a>
<div class="container mt-4">
  {% for x in note%}
  <div class="row">
    <iframe src="{{ x.file.url }}" width="840" height="980" allow="autoplay">
    </iframe>
    <form action="{% url 'like_notes' x.pk %}" method="POST">
      {% csrf_token %}
      <hr />
      <button
        type="submit"
        name="like_button"
        id="my-button"
        class="btn btn-primary"
      >
        <p>{{x.likes.count}} Likes ♥️</p>
      </button>
    </form>
    {% endfor %}
  </div>

  <style></style>

  {% endblock %}
</div>
♥️
