{% extends 'index.html' %} {% block content %} {% load crispy_forms_tags %}
{%load static %}

<style>
  .notesCnt {
    margin-bottom: 5em;
  }
  .autocomplete-result-list {
    max-width: 60.3em;
  }
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 230px;
    height: 225px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: 6e1401;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(164, 30, 30);
    transform: rotateY(180deg);
  }
</style>

<div class="container notesCnt mt-4">
  {% include 'authentication/messages.html' %}
  <div class="row d-flex justify-content-center align-items-center">
    <div class="container-lg-6">
      <form
        class="d-flex"
        method="post"
        role="search"
        action="{% url 'searchNotes' %}"
      >
        {% csrf_token %}

        <!-- <input id="autocomplete" class="autocomplete form-control me-2" type="text" name="searchQ" placeholder="Search" aria-label="Search"> -->
        <div id="autocomplete" class="autocomplete input-group mb-3">
          <input
            class="form-control me-2"
            type="text"
            name="searchQ"
            placeholder="Search"
            aria-label="Search"
          />
          <ul class="autocomplete-result-list"></ul>

          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
            <button
              type="button"
              class="btn btn-outline-primary ms-1"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Filter
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="container-lg-6">
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Modal title
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form method="get">
                {{ notes.form|crispy }}
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button class="btn btn-primary" type="submit">Filter</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 


  <div class="row d-flex justify-content-center align-items-center">
    {% for x in notes.qs %}
      <div class="card mt-4 mx-4" style="width: 18rem">
        <div class="card-body">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="{% static 'math.jpeg'  %}"
                  width="0.5px"
                  ,
                  class="img-fluid d-block w-100"
                  alt="..."
                />
                <h5 class="card-title">{{x.sub}}</h5>
                <h6 class="card-subtitle mb-2">Module No: {{x.mod}}</h6>
              </div>
              <div class="flip-card-back">
                <h6 class="card-subtitle mb-2 text-muted">{{x.typeN}}</h6>
                <p class="card-text">Credit : {{x.author.name}}</p>
  
                {% if request.user in x.buy.all %}
                  <a href="{{x.slug}}" class="card-link">
                    <button class="btn btn-success">View PDF</button>
                  </a>
                {% else %}
                  <form action="{% url 'buy_notes' x.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="note_id" value="{{x.note_id}}">
                    <button class="btn btn-primary" type="submit">Buy Notes</button>
                  </form>
                {% endif %}
                <strong><p>{{x.likes.count}} Likes ♥️</p></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  

  </div>
</div>
{% include 'components/notesBottomNav.html' %} {% endblock %}
