
{% extends 'index.html' %}
{% block content %}
{% load static %}
<style>

.adi{
    margin-top: 10px;
    max-height: 22rem ;
    border-radius: 5px;
   
}

.reh{
    color: black;
}
.subj{
   width: 38rem; height: 10rem;
}
@media(max-width:700px){
    .subj{
        width: 18rem;
        height: 8rem;
    }
}

</style>
<div class="container" >
    <div class="row " >

    <div id="carouselExampleAutoplaying"  style=" border: 2px solid black;" class="carousel carousel-dark slide adi" data-bs-ride="carousel">
    <div class="carousel-inner adi">
        <div class="carousel-item active" >

        <a href="https://ashishvanmali.wordpress.com/" target="_blank">
        <img src="{% static 'images/teachers/1.png'  %}"  class="img-fluid d-block w-100" alt="..."></a>
        </div>

        <div class="carousel-item">
        <a href="https://vaishalishirsath.wordpress.com/" target="_blank">
        <img src="{% static 'images/teachers/2.png'  %}" class="img-fluid d-block w-100" alt="..."></a>
        </div>

        <div class="carousel-item">
            <a href="http://www.tjparvat.com/" target="_blank">
        <img src="{% static 'images/teachers/3.png'  %}" class="img-fluid d-block w-100" alt="..."></a>
        </div>

        <div class="carousel-item">
        <a href="https://madhavihw.wordpress.com/" target="_blank">
            <img src="{% static 'images/teachers/4.png'  %}" class="img-fluid d-block w-100" alt="..."></a>
        </div>

        <div class="carousel-item">
        <a href="https://bharatigondhalekar.wordpress.com/" target="_blank">    
            <img src="{% static 'images/teachers/5.png'  %}" class="img-fluid d-block w-100" alt="..."></a>
            </div>


        <div class="carousel-item">
        <a href="">   
            <img src="{% static 'images/teachers/6.png'  %}" class="img-fluid d-block w-100" alt="..."></a>
            </div>    
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon reh"  aria-hidden="true"></span>
        <span class="visually-hidden reh" >Previous</span>
    </button>
    <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

</div>
</div>

<div class="mt-5 row d-flex justify-content-center align-items-center " >
        
        {% for x in sub %}
        <div class="card mt-4 me-4 subj"  >
            <a href="{{x.teacherurl}}" target="_blank" style="text-decoration: none ;">
            <div class="card-body">
                <h5 class="card-title">{{x.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{x.teacher}}</h6>
                
            </div></a>
        </div>
        {% endfor %}
    </div>




{% endblock %}