{% load static %}
<link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
<link rel="stylesheet" href="{% static 'css/new.js' %}">

<nav class="navbar navbar-dark bg-dark  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">NOTES VCET</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        
        <ul class="navbar-nav mb-2 mb-lg-0">
          {% if user.is_superuser %}
            <li class="nav-item">
            <a class="nav-link " href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <label class="switch">

              <input type="checkbox"
                  role="switch"
                  id="flexSwitch"
                  onclick="themeMode()">
              <span class="slider"></span>
          </label>
          </li>
          <!-- <li class="nav-item">
            <label class="switch">
              <input type="checkbox">
              <span class="slider"></span>
          </label>
          </li> -->
            {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notes' %}">Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'about' %}">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'teacher' %}">Faculty</a>
          </li>
          
       

          <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{user.name}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'addNotes' %}">Add Notes</a></li>
              <li><a class="dropdown-item" href="{% url 'status' %}">Status</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
            
          </li>
          
            {% endif %}

        </ul>
      </div>
      
    </div>
    
  </nav>
  
  <style>
    .navbar
    {
        border: 0.2px solid white;
        border-radius: 10px;

    }
  </style>
<!-----------
  <script>
    
    function themeMode(){
      var element = document.body;
      element.dataset.bsTheme =
        elemnt.dataset.bsTheme == "light" ? "dark" : "light";
    }  
  </script>----->

 
