{% load static %}
<link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
<link rel="stylesheet" href="{% static 'css/new.js' %}">

<nav class="navbar navbar-dark bg-dark  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">NOTES VCET</a>
      <table class="coins">
        <th>
          <img src="{% static 'images/coin.png' %}" alt="">
        </th>
        <th>
      <p class="cna" style="color: white;">{{ user.coins_scored }}</p>
    </th>
    </table>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     

      <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <ul class="navbar-nav mb-2 mb-lg-0">
          {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link " href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'adminResponse' %}">Panel</a>
            </li>
            <li class="nav-item"><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          {% endif %}
          <li class="nav-item">
            <label class="switch">

              <input type="checkbox"
                  role="switch"
                  id="flexSwitch"
                  checked
                  onclick="themeMode()">
              <span class="slider"></span>
          </label>
          </li>
          <!-- <li class="nav-item">
            <label class="switch">
              <input type="checkbox">
              <span class="slider"></span>
          </label>
          </li> -->
            {% if user.is_authenticated and not user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notes' %}">Notes</a>
          </li>
         
          <!-- <li class="nav-item">
            <a class="nav-link " href="{% url 'about' %}">About us</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " href="{% url 'teacher' %}">Faculty</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log-Out</a>
          </li>


          <!-- <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{user.name}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'addNotes' %}">Add Notes</a></li>
              <li><a class="dropdown-item" href="{% url 'status' %}">Status</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>

          </li> -->

            {% endif %}

        </ul>
      </div>

    </div>

  </nav>

  <style>
    .navbar
    {
        border: 0.2px solid white;


    }
    .coins{
      margin-left: 75%;
      width: 3px;
    }
    .cna{
      margin-top: 12px;
      font-weight: bol;
    }
    @media (max-width: 980px) {
      .coins{
        margin-left: 10%;
      }
    }
  </style>
<!-----------
  <script>

    function themeMode(){
      var element = document.body;
      element.dataset.bsTheme =
        elemnt.dataset.bsTheme == "light" ? "dark" : "light";
    }
  </script>----->


